<h1>My Reservation</h1>
<%= @restaurant.name %>
<p>Date: <%= @reservation.time.day%> / <%=@reservation.time.month%> / <%=@reservation.time.year%></p>
<p>Time: <%= @reservation.time.hour%> : <%=@reservation.time.min%> </p> 
<p>Party Size: <%= @reservation.size %></p> 