<h1><%= @restaurant.name %></h1>

 
     
 
      <div class="row">
        <div class="large-12 hide-for-small">
 
          <div id="featured" data-orbit>
              <img src="http://placehold.it/1200x500&text=Slide Image 1" alt="slide image">
              <img src="http://placehold.it/1200x500&text=Slide Image 2" alt="slide image">
              <img src="http://placehold.it/1200x500&text=Slide Image 3" alt="slide image">
            </div>
 
      </div>
    </div>
 
 <h3><%= @restaurant.address %></h3>    
 <h4><%= @restaurant.description %></h4>
     
 
      <div class="row">
        <div class="large-12 columns show-for-small">
 
          <img src="http://placehold.it/1200x700&text=Mobile Header">
 
        </div>
      </div><br>
 
     
 
 
      <div class="row">
        <div class="large-12 columns">
          <div class="row">
             
            <div class="large-4 small-6 columns">
 
              <h4>Opening Hours</h4><hr>
 
              <div class="row">
<!--                 <div class="large-1 column">
                  <img src="http://placehold.it/50x50&text=[img]">
                </div> -->
 
                <div class="large-9 columns">
                  <h5><strong>Monday</strong> 11:00 - 20:00 </h5>
                  <h5><strong>Tuesday</strong> 11:00 - 20:00 </h5>
                  <h5><strong>Wednesday</strong> 11:00 - 20:00 </h5>
				  <h5><strong>Thursday</strong> 11:00 - 20:00 </h5>
				  <h5><strong>Friday</strong> 11:00 - 20:00 </h5>
				  <h5><strong>Saturday</strong> 11:00 - 20:00 </h5>
				  <h5><strong>Sunday</strong> 11:00 - 20:00 </h5>			
                </div>
              </div><hr>
 
              <div class="hide-for-small">
                <div class="row">
                  <div class="large-1 column">
                    <img src="http://placehold.it/50x50&text=[img]">
                  </div>
 
                  <div class="large-9 columns">
     				<h5 class="subheader"><%= link_to "Make Reservation", new_restaurant_reservation_path(@restaurant)%></h5>
                  </div>
                </div><hr>
 
                <div class="row">
                  <div class="large-1 column">
                    <img src="http://placehold.it/50x50&text=[img]">
                  </div>
 
                  <div class="large-9 columns">
                    <h5 class="subheader"><a href="#">Write a Review</a></h5>
                  </div>
                </div><hr>
 
                <div class="row">
                  <div class="large-1 column">
                    <img src="http://placehold.it/50x50&text=[img]">
                  </div>
 
              
                </div>
              </div>
            </div>
             
 
 
             
 
            <div class="large-4 small-6 columns">
              <img src="http://placehold.it/300x465&text=Image">
            </div>
 
             
 
 
             
 
            <div class="large-4 small-12 columns">
 
              <h4>Reviews</h4><hr>
              <div class="panel">
                <h5><a href="#">Post Title 1</a></h5>
 
                <h6 class="subheader">
                  Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Suspendisse ultrices ornare tempor...
                </h6>
 
                <h6><a href="#">Read More »</a></h6>
              </div>
 
              <div class="panel hide-for-small">
                <h5><a href="#">Post Title 2 »</a></h5>
              </div>
 
              <div class="panel hide-for-small">
                <h5><a href="#">Post Title 3 »</a></h5>
              </div>
 
              <a href="#" class="right">See all reviews »</a>
 
            </div>
 
             
 
          </div>
      
<% if current_user %>
<% if current_user.id == @restaurant.owner.id %>
  <%= link_to "Edit Restaurant", edit_restaurant_path(@restaurant)%> |
  <%= link_to "Remove Restaurant", restaurant_path(@restaurant), method: :delete %>
<% end %>
<% end %>